@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');


body{
  background-color: #e6e6e6;
  margin:0;
  padding:0;
  font-family:'Montserrat','Inconsolata';
}
section{
  padding: 40px 0;
}

.hr-line{
  border-color:  #61a244;
  display: none;
  border-style: solid;
}

.nav-bar{
  overflow: hidden;
  background-color: #a2cf8d;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  float: right;
}

.nav-bar .logo img{
  float: left;
  margin: 5px 5px;
}
.nav-bar li{
  display: inline;
}

.nav-bar li .green-navBar{
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: .4s;
}

.nav-bar li .green-navBar:hover{
background-color: #61a244;
}

textarea {
  resize: none;
}

#menu{
  margin-right: 25px;
  display: none;
  float: right;
  cursor: pointer;
  color: #000;
  transition-duration: 0.2s
}
#menu:hover{
  color: #61a244;
}

.green-button{
  background-color: #a2cf8d;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  color:#ffffff;
  border:none;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.green-button:hover{
  background-color:#61a244;
}

.to-up-btn{
  display: none;
  background-color: #a2cf8d;
  padding: 10px;
  border-radius: 50%;
  color:#ffffff;
  border:none;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 1px 10px #000;
  transition-duration: 0.2s;
  z-index: 99;

}
.to-up-btn:hover{
  background-color:#61a244;
}

.upBtn{
    text-align: right;
    margin-right: 2%;
}
.white-button{
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  color:#000000;
  border:none;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.white-button:hover{
  color: #a2cf8d;
}

.showcase{
  color: #ffffff;
  background:url(../img/slide_02.jpg)no-repeat;
  text-align: center;
  padding-bottom: 10%;
  background-size: cover;
  /* paralax effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-main-text{
  font-size: 30px;
}

.showcase-text{
  text-align: center;
  padding: 0;
  margin: 10%;
}
.services .box{
    text-align: center;
    float: left;
    margin: 20px;
    padding:25px 5px 25px 5px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow:0px 0px 10px #b3b3b3;
    transition-duration: 0.4s;
}

.services .box:hover{
  background-color: #a2cf8d;
  color: #ffffff;
}

.services .box.first{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}
.services .box.second{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;

}
.services .box.third{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

}
.services .box.fourth{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes servicesBox {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.offers{
  background:url(../img/what-we-do-bg.png)no-repeat;
  overflow: hidden;
  background-size: cover;
}

.offers .offers-text{
  color:#ffffff;
  padding:25px;
  padding-left: 10%;
}

.offers .offers-text h2{
  margin-top: -20px;
}

.offers .offers-text p{
  line-height: 30px
}

.offers .offers-pictures img{
  width: 95%;
  position: relative;
}

.offers .offers-buttons{
  margin-left: 50px;
  margin-top: -30px;
}
.portfolio{
  background-size: cover;
}
.portfolio .portfolio-btns{
  text-align: center;
}

.portfolio .portfolio-pictures{
  margin: auto;
  padding: 2% 3% 2% 5%;
}

.portfolio .portfolio-pictures img{
  width: 100%;
  height: auto;
  padding:15px;
}

.portfolio-btns{
  margin-top: 30px;
  margin-bottom: 20px;
}

.portfolio-button{
  text-decoration: none;
  color: #000000;
  padding: 20px;
  cursor: pointer;
}

.portfolio-button.Active{
  color:#a2cf8d;
}

.blog{
    background:url(../img/blog-bg.png)no-repeat;
    background-size: cover;
    padding: 40px;
    color: #ffffff;
}

.blog .lg-box{
  position: relative;
  margin-top: -50px;
  margin-right: 20px;
}

.blog .lg-box img{
  width: 100%;
  margin-top: 15%;
  position: relative;

}
.blog .lg-box h4,
.blog .lg-box p{
  color: #000;
  margin: 0;
  padding-left: 10px;
  width: 100%;
}
.blog .lg-box .lg-box-text{
  text-align: justify;
  position: absolute;
  bottom: 3px;
  background-color: rgba(250, 250, 250, 0.4);
  font-size: 18px;
  padding: 15px 0 15px 0;
  width: 100%;
}

.blog .sm-box1 img,
.blog .sm-box2 img{
  width: 100%;
}

.blog .sm-box1 h4,
.blog .sm-box1 p,
.blog .sm-box2 h4,
.blog .sm-box2 p{
  color: #000;
  margin: 0;
  padding-left: 10px;
}

.blog .sm-box1{
  position: relative;
  margin-top: 4%;
  margin-bottom: 5%;
}

.blog .sm-box2{
  position: relative;
  margin-top: 20%;
}

.blog .sm-box-text{
  text-align: justify;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.6);
  bottom: 4px;
  font-size: 18px;
  padding: 10px 0 10px 0;
  width: 100%;
}

.statistics .grey-box{
  text-align: center;
  float: none;
  margin: auto;
  position: relative;
  padding:25px 50px;
  width: 225px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow:0px 0px 10px #b3b3b3;
}

.statistics .container .grey-box h3.number{
  color:#a2cf8d;
  font-weight: 900;
}

.statistics .grey-box.first{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition-property: transform;
}
.statistics .grey-box.second{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  transition-property: transform;
}
.statistics .grey-box.thrid{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition-property: transform;
}
.statistics .grey-box.fourth{
  opacity: 0;
  animation-name: servicesBox;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transition-property: transform;
}

.contact-us{
  background:url(../img/contact-bg.png)no-repeat;
  background-size: cover;
  width: 100%;
}

.contact-us h2.title{
  color:#ffffff;
}

.contact-us .contact-us-map img{
  position: relative;
  width: 600px;
  padding-left: 30px;
  padding-right: 80px;
  margin-top: 20px;
}

.contact-us-form{
  position: relative;
  margin-top: 50px;
  margin-left: 30px;
}

.contact-us form input[type = text],
.contact-us form input[type = email]{
margin-bottom: 30px;
}

.contact-us form input,
.contact-us form textarea{
  background-color: rgba(250, 250, 250, 0.1);
  color:#ffffff;
  font-size: 15px;
  border-style: none;
  width:90%;
  height: 50px;
  padding: 15px;
}

.contact-us form textarea{
  height: 110px;
}
.contact-us form input[type = submit]{
  width: 20%;
  float: right;
  margin-right: 10%;
  cursor: pointer;
}

.contact-us input::placeholder, .contact-us textarea::placeholder{
  color:#808080;
}

.error-message{
  margin-bottom: 5px;
  color:white;
  background-color: #cc0000;
  opacity: .6;
  float: left;
  /*padding: 5px;*/
  width: 90%;
}

.statistics .container{
  margin-top: 60px;
  margin-bottom: 80px;
}

.foot{
  background-color:#000;
  color: #ffffff;
  padding:40px;
}

.foot .social-icons{
  float: right;
}

.foot i.fa{
  background-color:#a2cf8d;
  color: #000000;
  width: 35px;
  padding:10px;
  margin-left: 7px;
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 0.6s;
}

.foot i.fa:hover{
  background-color:#ffffff;
  color: #a2cf8d;
}

.container{
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

 .container h2.title{
   text-align: center;
   line-height: 2px;
 }

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row:after{
  display: table;
  clear: both;
  content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
  box-sizing: border-box;
}

.show {
    display: block;
}
.hide{
  display: none;
}

/***************  Animations *****************/
.animateSideInRight{
  animation-name: slideFromRight;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;
}

@keyframes slideFromRight {
  0% {left: 1000px;}
  100% {left: 0;}
}

.animateSideInLeft{
  animation-name: slideFromLeft;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;
}

@keyframes slideFromLeft {
  0% {right: 1000px;}
  100% {right: 0;}
}
.animationSlideFromBottom{
animation-name: SlideFromBottom;
animation-duration: 2s;
transition-timing-function: ease;
}

@keyframes SlideFromBottom {
0% {top: 500px;}
100% {top: 0;}
}

@media screen and (max-width:1036px) {
    .col-3.services-box,
    .col-3.greyBox{
      width: 50%;
    }
    .blog .lg-box .lg-box-text{
      font-size: 14px;
      padding: 10px 0 10px 0;

    }
    .blog .sm-box-text{
      font-size: 14px;
      padding: 5px 0 6px 0;
    }

    .statistics .grey-box{
      text-align: center;
      margin-bottom: 10%;
      width: 90%;
    }

    .col-6.contactUs{
      width: 100%;
      margin: auto;
      text-align: center;
    }

    .contact-us-form{
      position: relative;
      margin-top: 20px;
      margin-left: 0;
    }
    .contact-us .contact-us-map{
      text-align: center;
      float: none;
    }
    .contact-us .contact-us-map img{
      width: 90%;
      float: none;
      margin-left: 5%;
    }
    .contact-us form input[type = submit]{
      width: 90%;
      float: none;
      margin-right: 0;
    }

    .contact-us form .error-message{
      float: none;
      margin-left: 5%;
    }

    form.contact{
      margin: auto;
    }
}

@media screen and (max-width:799px) {
  .hr-line{
    display:block;
    margin: 0;
  }
  .nav-bar{
    padding: 5px;
  }

  .nav-bar ul {
      display: none;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .nav-bar ul li{
      display: block;
      text-align: center;
    }
    .nav-bar li a{
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      width: 100%;
    }

  #menu{
    display: block;
    margin-top: 8px;
  }
/* Js dropdown menu */
  .navBar.responsiveNavbar{
    display: block;
    text-align: center;
  }
  .showcase-text{
    padding-top: 40px;
  }

  .col-3.services-box{
    width: 100%;
    float: none;
  }
  .services .box{
      text-align: center;
      float: none;
      margin: 20px;
      padding:20px;
  }

  .col-3.greyBox,
  .col-6.lgBox,
  .col-6.smBox{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .blog .lg-box .lg-box-text,
  .blog .sm-box-text{
    text-align: center;
  }
  .col-6.lgBox{
    margin-left: 4%;
  }
  .blog .sm-box2{
    margin-top: -1%;
  }
  .blog .sm-box1 h4,
  .blog .sm-box1 p,
  .blog .sm-box2 h4,
  .blog .sm-box2 p{
    padding: 0;
  }
  .statistics .grey-box{
    margin-left: 5%;
    width: 90%;
  }

  .col-6.offersText,
  .col-6.offersPictures,
  .col-6.offfersButtons,
  .col-6.footerText,
  .col-6.socialIcons
  {
    width: 100%;
  }

  .offers-buttons[type = button]{
    margin: 10% 0;
  }

  .offers .offers-pictures img{
    width: 80%;
    margin-left: 10%;
  }

  .col-3.imgBox{
    width:40%;
  }

  .offers .offers-buttons{
    margin: 4% 0 0 0;
    text-align: center;
  }
  .green-button,
  .white-button{
    width: 70%;
    margin-bottom:2%;
  }

  .portfolio .portfolio-pictures img{
    width: 90%;
    margin-left: 25%;
    padding:15px;
  }

  .contact-us .contact-us-map img{
    padding: 5px;
    width: 90%;
    float: none;
    margin: auto;
  }

  .foot .footerText{
    text-align: center;
    margin-bottom: 3%;
  }

  .foot .social-icons{
    text-align: center;
    width: 100%;
  }
  input::placeholder,
  textarea::placeholder{
    text-align: center;
  }
}

@media screen and (max-width:650px) {
  .col-3.imgBox{
    width:100%;
    text-align: center;
    margin-bottom: 4%;
  }
  .portfolio .portfolio-pictures img{
    width: 55%;
    margin: 0;
    padding:0;
  }
}
@media screen and (max-width:550px) {

  .blog .lg-box{
    margin-top: -20%;
  }
  .contact-us .contact-us-map img{
    width: 100%;
    /*padding: 5px;*/
  }

  .portfolio .portfolio-pictures img{
    width: 65%;
  }

  .blog .lg-box{
    margin-top: 0;
  }

  .blog .lg-box .lg-box-text{
    font-size: 12px;

  }
  .blog .sm-box-text{
    font-size: 12px;
  }
}
